.tops {
    background: #121212;
    height: 308px;
    outline: solid #868686 1px;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
}

.bullet {
    color: rgb(42, 42, 42);
    width: 1.5rem;
    text-align: center;
    height: 1.5rem;
    border-radius: 50%;
}

.item {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #868686 solid;
    color: #ebebeb;
    font-size: 1.1rem;
    height: 60.6px;
}

.itemBullet {
    padding: 1rem;
    width: 3rem;
}

.itemLink {
    padding: 1rem;
    width: 18rem;
    color: #ebebeb;
    text-decoration: none;
}

.item:hover {
    background-color: #173817;
}

.itemPoints {
    padding: 1rem;
    width: calc(100% - 21rem);
    text-align: right;
}