.app {
    max-width: 27rem;
    margin: auto;
    max-height: 85%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 1px #868686;
    border-radius: 8px;
}